{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<div id = "profile">
    <div id = "profile-pic">
        <img src=""></img>
    </div>
    <div id = "short-bio">
        <p id = "name">{{first}} {{last}}</p>
        <p class = "bio-gender">
            <i class = "icons">&#xe7ff;</i>{{gender}}
        </p>
        <p class = "bio-location">
            <i class = "icons">&#xe0c7;</i>{{location}}
        </p>
    </div>
    <div id = "profile-button">
        <button>View Profile</button>
    </div>
</div>
