{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<div id = "user-profile">
    <div id = "user-top">
        <div id = "user-pic">
            <img src=""></img>
        </div>
        <div id = "details">
            <p id = "user-name">{{first}} {{last}}</p>
            <p class = "user-details"><i class = "user-icons">&#xe0be;</i>{{email}}</p>
            <p class = "user-details"><i class = "user-icons">&#xe0c7;</i>{{location}}</p>
            <p class = "user-details"><i class = "user-icons">&#xf133;</i>Joined on {{date}}</p>
        </div>
    </div>
    
    <div id = "user-middle">
        <h4>About Me</h4>
        <p id = "user-bio">{{bio}}</p>
    </div>
    
    <div id = "user-bottom">
        <button>Send Message</button>
        <button id = "message">Follow</button>
    </div>
</div>